<div class="row">
	<%= render 'home/sidebar' %>
	<div class="col-xs-10">
		<h2 align="center"><strong>संपर्क</strong></h2>
		<hr>
			<div class="col-xs-8 col-xs-offset-2">
			<div class="row">
			<p align="center">
				<%= image_tag(("ganesh.jpg") , class: "manogat-img image-responsive") %>
			</p>
			<h3 align="center"><strong>श्री. गणेश जाधव, कासेगांव</strong></h3>
			<h4 align="center"><strong>संपर्क:</strong> +919175023738</h4>
			</div>
	</div>
</div>
