
<div class="row">
<%= render 'home/sidebar' %>
	<div class="col-xs-6 col-xs-offset-1">

	<div class="panel panel-info">
			<div class="panel-heading">
				<h2 align="left">@about_samaj.title</h2>
			</div>
		
            <div class="panel-body">
				<h4 align="left"><%= @about_samaj.description %></h4>
			</div>
			<div class="panel-footer">
			<% if user_signed_in? && (@about_samaj.user_id = current_user.id) %>
						<%= link_to "Delete", aboutsamaj_path(@message),method: :delete,data: {confirm: "Confirm Delete"} %>
						
			<% end %>
			</div>
	</div>
</div>
</div>